html{}

a{text-decoration:none;}

body{font-family:"微软雅黑"; font-size:13px; color:#333333; margin:0px; overflow:hidden}

input{font-family:"微软雅黑"; font-size:13px; color:#333333; box-sizing:border-box; outline:none}

textarea{font-family:"微软雅黑"; font-size:13px; color:#333333; box-sizing:border-box; outline:none; resize:none}

select{font-size:13px; color:#333333; margin:0px; box-sizing:border-box; outline:none; box-shadow: none;}

h1, h2, h3, h4, h5, h6{font-weight:400; font-size:13px;}

ul, ol, menu, p, h1, h2, h3, h4, h5, h6, hr, dl, dt, dd, form{padding:0px; margin:0px;}

li{padding:0px; margin:0px; list-style-type:none}

.clearfix::after{clear:both; content:""; display:block;}

.green{background-color:#5DC4BF!important}

.red{background-color:#cd5050!important}

.blue{background-color:#009CEA!important}

.left{float:left}

.right{float:right}

.button{border:none; background-color:#4ab6ef; font-size:13px; color:#ffffff; box-sizing:border-box; border-width:0px; outline:none; cursor:pointer; padding:0px 4px}

hr{border-top:1px solid #eaeaea; border-bottom:none}

#loading-panel{}

#loading-panel .loading-mask{position:fixed; width:100%; height:100%; top:0px; left:0px;right:0px; bottom:0px; background-color:#333333; filter:alpha(opacity=10); opacity:0.1;}

#loading-panel .loading-toast{position:absolute; width:100px; background-color:#ffffff; height:100px; opacity:0.7; border:1px solid #dddddd}

#loading-panel .loading-toast img{display:block; margin:0px auto;}

#messages-panel{box-sizing:border-box; display:none; position:absolute; top:0px; left:0px; background-color:#fefbdf; width:100%; padding:30px; color:#333333; filter:alpha(opacity=90); opacity:0.9;}

.lottery-type-field{height:34px; padding:6px 10px; font-size:14px; border:1px solid #dddddd}
.lottery-button{height:32px; padding:6px 12px; font-size:14px;}
.lottery-disabled-button{background-color:#cccccc; height:32px; padding:6px 12px; font-size:14px;}
.lottery-refresh-button{width:80px; height:32px; padding:6px 12px; font-size:14px;}

#user-panel {padding:45px 15px 25px 15px}
#user-panel #usericon img{width:70px; height:70px;}
#user-panel #useritem h5{color:#a7b1c2; font-size:16px; padding:5px 0px 7px 10px}
#user-panel #useritem h5 span{color:#a7b1c2; font-size:12px; margin-left:5px}
#user-panel #useritem p{color:#a7b1c2; font-size:13px; padding:0px 0px 6px 10px}
#user-panel #useritem time{color:#a7b1c2; font-size:13px; padding:0px 0px 6px 10px}

nav li{padding:20px 0px 20px 15px; box-sizing:border-box; border-bottom:1px solid #3b3b3b}
nav a{color:#a7b1c2; font-size:16px}
nav a i{margin-right:8px}
nav a:hover{color:#ffffff}


.form-panel{padding:20px; background-color:#f0f0f0; border-radius:5px} 
.form-panel input{color:#444444; margin-top:5px; width:100%; margin-right:10px; border:none; border-radius:2px; height:30px; line-height:31px; padding:0px 5px}	
.form-panel textarea{color:#444444; margin-top:5px; width:100%; margin-right:10px; border:none; border-radius:2px; height:50px; padding:5px}	
.form-panel ul li{margin-top:10px; overflow:hidden}
.form-panel ul li .field-panel{padding-right:10px; box-sizing:border-box}
.form-panel ul li.button-panel{text-align:center; margin-top:20px}
.form-panel ul li.button-panel button{padding:10px 50px; font-size:20px; font-weight:100; border-radius:5px}
.form-panel ul li.button-panel button i{font-size:17px; margin-right:5px}

#master-module{margin-left:220px; position:relative}
#master-module #navigation{background-color:#f3f3f3; height:68px; line-height:60px; border-bottom:8px solid #e7e7e7; box-sizing:border-box}
#master-module #navigation h4{float:left; font-size:20px; font-weight:200; padding-left:15px}
#master-module #navigation .toolbar-panel{float:right; padding-right:15px;}
#master-module .sub-module{padding:15px; box-sizing:border-box; overflow:auto}
#master-module .chart-module{padding:0px}

#chart-panel{border:1px solid #eeeeee; padding:1px}

#chart-panel #chart-buttons{margin:5px}

#chart-panel table{table-layout:fixed; border-collapse:separate; border-spacing:0px; border:none; background-color:#f7f7f7; font-size:12px}
#chart-panel table td, table th{padding:0px; margin:0px; border-style:solid; border-width:0px 1px 1px 0px; border-color:#ffffff;}
#chart-panel table thead{background-color:#e0f3ff;}
#chart-panel table thead th{font-weight:400; text-align:center; height:30px}
#chart-panel table tbody td{text-align:center; height:25px; min-width:25px}
#chart-panel table .redball{background-color:#ba2636; color:#ffffff; width:20px; height:20px; display:block; margin:0px auto; border-radius:20px; margin-top:2px; text-align:center; padding-top:1px; box-sizing:border-box;}
#chart-panel table .yellowrect{background-color:#e2b46f; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .greenrect{background-color:#8dbcbd; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .redrect{background-color:#ba2636; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .bluerect{background-color:#a3b5d4; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .purplerect{background-color:#c2a9c8; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .seagreenrect{background-color:#97bf94; color:#ffffff; width:23px; height:23px; display:block; text-align:center; box-sizing:border-box; padding-top:4px; margin-left:1px}
#chart-panel table .bluerow{background-color:#e8f0f9}
#chart-panel table .redcode{color:#ba2636}
#chart-panel table .greycode{color:#cccccc}
#chart-panel #master-module .module{padding:15px; box-sizing:border-box}

#detailed-panel tbody tr:nth-of-type(odd){}
#detailed-panel tbody tr:nth-of-type(even){background-color:#e0f3ff}
#detailed-panel table tr:hover{background-color:#ffe0e0}

#recommend-panel #chart-panel table thead th{height:40px}
#recommend-panel #chart-panel table tbody td{height:35px; font-size:14px}
#recommend-panel #chart-panel table tbody td .redball{background-color:#ba2636; display:inline-block; margin-right:3px; width:25px; height:25px; padding-top:3px}
#recommend-panel #chart-panel table tbody td .yellowrect{display:inline-block; margin-right:3px; padding-top:3px}
#recommend-panel #chart-panel table tbody td .greenrect{display:inline-block; margin-right:3px; padding-top:3px}
#recommend-panel #chart-panel table tbody td .purplerect{width:120px; display:inline-block; margin-right:3px; padding-top:3px}
#recommend-panel #recommend-type{padding:5px; box-sizing:border-box;}
#recommend-panel #recommend-type .button{padding:10px; margin-right:10px}

#do-page .row{padding:10px 5px; position:relative; width:1150px}
#do-page label{display:inline-block; position:relative; padding-left:25px; margin-right:8px}
#do-page label.title{width:100px; padding-left:5px}
#do-page label.subtitle{margin:0px 8px 0px 30px; padding-left:0px}
#do-page label .checkbox{display:inline-block; position:absolute; top:1px; left:2px; background-position:0px 0px; background-image:url('../images/box.png'); background-repeat:no-repeat; width:18px; height:18px; margin-right:4px}
#do-page label .checked{background-position:-40px 0px}
#do-page hr{margin:7px 0px; width:1150px}
#do-page .clear-panel{right:10px; top:9px; position:absolute}
#do-page .clear-panel button{width:22px; height:20px; text-align:center; line-height:22px; border-radius:5px;}
#do-page #create-button{margin-top:40px; width:150px; height:60px; font-size:18px; border-radius:5px;}
#do-page #create-button i{font-size:23px; margin-right:4px; vertical-align:middle}
#do-page #analysis-button{margin-top:40px; width:150px; height:60px; font-size:18px; border-radius:5px;}
#do-page #analysis-button i{font-size:23px; margin-right:4px; vertical-align:middle}
#do-page #codes-panel textarea{width:100%; height:200px; border:1px solid #cccccc; padding:5px; font-size:14px}
#do-page #combination-count{padding:20px 0px 5px 0px; overflow:hidden}
#do-page #combination-count h4{font-weight:400; font-size:15px; float:left}
#do-page #combination-count strong{font-weight:400; font-size:15px; float:left; color:red; margin-left:5px}

.system-message-panel{display:none1; background-color:#fcf8e3; border:1px solid #faebcc; overflow:hidden; margin-bottom:10px}
.system-message-panel p{padding:15px; color:#6F917D}
.system-message-panel p span{margin:0px 10px 0px 4px}